# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Verilator
obj_dir/

# Vivado
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.gen/
*.jou
*.log
.Xil/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
